<h1>
    Jobs
</h1>
<h2>
<table class="table e">
    
    <thead class="border border-dark">
      <tr>       
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>Edit</th>
        <th class="text-left"> Jobs</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>   
        <th>&nbsp;</th>   
      </tr>
    </thead>
    <tbody>
    <tr class="border border-dark">      
        <td class="border border-dark">Job Name</td>
        <td class="border border-dark">Enabled</td>
        <td class="border border-dark">Backup method</td>
        <td class="border border-dark">Location</td>
        <td class="border border-dark">Source path</td>
        <td class="border border-dark">Target path</td>
        <td class="border border-dark">Stations</td>
        <td class="border border-dark">Successful Backups</td>
    </tr>
    <tr class="border border-dark table-active">       
        <td>Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td>Example</td>
    </tr>
    <tr class="border border-dark table-active">       
        <td>Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td>Example</td>
    </tr>
    <tr class="border border-dark table-active">       
        <td>Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td>Example</td>
    </tr>
    <tr class="border border-dark table-active">       
        <td>Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td>Example</td>
    </tr>
    <tr class="border border-dark table-active">       
        <td>Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td>Example</td>
    </tr>
    <tr class="border border-dark table-active">       
        <td>Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td>Example</td>
    </tr>
    <tr class="border border-dark table-active">       
        <td>Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td>Example</td>
    </tr>
    </tbody>

  </table>
<div>
  <button type="button" class="btn btn-outline-secondary btn-lg" routerLink="settings">Add new job</button>
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;
  <a href="http://localhost:4200/settings" class="btn btn-lg btn-outline-secondary button">Settings</a>
</div>