
<h2>
<h1>
    
       <span class="border border-dark text-dark a">Protochronos</span>
       <ul class="ver text-secondary">
        <li>v.02</li>
        <li>05.03.2023</li>
       </ul>
       
        
       <a routerLink="status"><i class="bi bi-house text-secondary border rounded border-dark b"></i></a>
       <a routerLink="stations"><i class="bi bi-display text-secondary border rounded border-dark c"></i></a>
        <a routerLink="jobs"><i class="bi bi-clipboard text-secondary border rounded border-dark d"></i></a>
        <a routerLink="reports"><i class="bi bi-clipboard2-check-fill text-secondary border rounded border-dark e"></i></a>
        <a routerLink="settings"><i class="bi bi-gear-fill text-secondary border rounded border-dark f"></i></a>    
        
        <i class="bi bi-box-arrow-right text-secondary border rounded border-dark h"></i>
        <i class="bi bi-person text-secondary border rounded border-dark g"></i>
        <ul class="ver2 text-secondary">
                <li>Logged in as</li>
                <li>[Imsotiredpleasehelpme]</li>
               </ul>  
</h1>
</h2>

<div class="abc border border-dark">
<router-outlet></router-outlet>

</div>
