<h1>
    <div>Server Status:&lt;SRV_STAT&gt;</div>
    <div>IP adress:&lt;SRV_ADDR</div>
    <div>Port:&lt;SRV_PORT</div>
    <div>Stations online:&lt;ST_ONLINE&gt; / &lt;ST_TOTAL&gt;</div>

<h2>

<a href="http://localhost:4200/settings" class="btn btn-lg btn-outline-secondary"> Server settings</a>
&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-outline-secondary btn-lg">Restart server</button>&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-outline-secondary btn-lg">Stop all jobs</button>
</h2>
