<h1>
    Settings
</h1>

<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link " aria-current="page" href="http://localhost:4200/settings">User settings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="http://localhost:4200/server">Server settings</a>
    </li>
  </ul>

  <h2>
    <table class="table e">
        <tbody>
        <tr class="border border-dark">      
            <td class="border border-dark">username</td>
            <td class="border border-dark">Created at</td>
            <td class="border border-dark">Deleted</td>                     
            <td class="border border-dark">&nbsp;</td>
        </tr>
        <tr class="border border-dark table-active">       
            <td>Example</td>
            <td class="border border-dark">Example</td>
            
            <td class="border border-dark">Example</td>
            
            <td><button type="button" class="btn btn-light bca">Disable</button><button type="button" class="btn btn-light abc">Delete</button></td>
        </tr>
        <tr class="border border-dark table-active">       
            <td>Example</td>
            <td class="border border-dark">Example</td>
            
            
            <td class="border border-dark">Example</td>
            <td><button type="button" class="btn btn-light bca">Disable</button><button type="button" class="btn btn-light abc">Delete</button></td>
        </tr>
        <tr class="border border-dark table-active">       
            <td>Example</td>
            <td class="border border-dark">Example</td>
            
            
            <td class="border border-dark">Example</td>
            <td><button type="button" class="btn btn-light bca">Disable</button><button type="button" class="btn btn-light abc">Delete</button></td>
        </tr>
        <tr class="border border-dark table-active">       
            <td>Example</td>
            <td class="border border-dark">Example</td>
            
            
            <td class="border border-dark">Example</td>
            <td><button type="button" class="btn btn-light bca">Disable</button><button type="button" class="btn btn-light abc">Delete</button></td>
        </tr>
        <tr class="border border-dark table-active">       
            <td>Example</td>
            <td class="border border-dark">Example</td>
            
            
            <td class="border border-dark">Example</td>
            <td><button type="button" class="btn btn-light bca">Disable</button><button type="button" class="btn btn-light abc">Delete</button></td>
        </tr>
        <tr class="border border-dark table-active">       
            <td>Example</td>
            <td class="border border-dark">Example</td>
            
            
            <td class="border border-dark">Example</td>
            <td><button type="button" class="btn btn-light bca">Disable</button><button type="button" class="btn btn-light abc">Delete</button></td>
        </tr>
        <tr class="border border-dark table-active">       
            <td>Example</td>
            <td class="border border-dark">Example</td>
            
            
            <td class="border border-dark">Example</td>
            <td><button type="button" class="btn btn-light bca">Disable</button><button type="button" class="btn btn-light abc">Delete</button></td>
        </tr>
        </tbody>
    
      </table>

</h2>