<h1>
    Settings
</h1>

<h2></h2>
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="http://localhost:4200/settings">User settings</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:4200/server">Server settings</a>
    </li>  
  </ul>

  <div class="container text-left">
<div class="row border first">
    <div class="col ">
        email
    </div>
    <div class="col"><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"></div></div>
<div class="row border first">
    <div class="col">Send overall reports </div>
    <div class="col"><div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" id="customCheck1"></div></div>
</div>

<div class="row border first">
    <div class="col">Reports Frequency</div>
    <div class="col"><div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" id="customCheck1">Monday</div> 
    <div class="col "><div class="custom-control custom-checkbox a"><input type="checkbox" class="custom-control-input " id="customCheck1">Saturday</div> 
    <div class="col"><div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" id="customCheck1">Tuesday</div> 
    <div class="col "><div class="custom-control custom-checkbox b"><input type="checkbox" class="custom-control-input " id="customCheck1">Sunday</div> 
    <div class="col"><div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" id="customCheck1">Wednesday</div> 
    <div class="col"><input type="email" class="form-control cads" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" style="width: 100px;"></div>
    <div class="cads">Cron expression</div>
    <div class="col"><div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" id="customCheck1">Thursday</div>  
    <a class="cad text-secondary" href="https://crontab.guru/">Crontab expression online editor</a>
    <div class="col"><div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" id="customCheck1">Friday</div> 
    
</div>







  