<h1>
    Stations
</h1>
<h2>
<table width="30%" class="table e">
    
    <thead class="border border-dark">
      <tr>       
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th>Select Stations</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>      
      </tr>
    </thead>
    <tbody>
    <tr class="border border-dark">      
        <td class="border border-dark">Host Name</td>
        <td class="border border-dark">MAC Adress</td>
        <td class="border border-dark">Last Online</td>
        <td class="border border-dark">Active Assignments</td>
        <td class="border border-dark">Successful backups</td>
    </tr>
    <tr class="border border-dark table-active">       
        <td>Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td>Example</td>
    </tr>
    <tr class="border border-dark table-active">       
        <td>Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td>Example</td>
    </tr>
    <tr class="border border-dark table-active">       
        <td>Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td>Example</td>
    </tr>
    <tr class="border border-dark table-active">       
        <td>Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td>Example</td>
    </tr>
    <tr class="border border-dark table-active">       
        <td>Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td>Example</td>
    </tr>
    <tr class="border border-dark table-active">       
        <td>Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td>Example</td>
    </tr>
    <tr class="border border-dark table-active">       
        <td>Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td class="border border-dark">Example</td>
        <td>Example</td>
    </tr>
    </tbody>



  </table>


  <table class="table a">
    <thead class="border border-dark">
        <tr class="cell text-center">Station options</tr>
    </thead>   
    <tbody class="border border-dark">
        <tr class="text-center">Selected stations: 6</tr>
        <tr class="tri">&nbsp;</tr>
        <tr class="text-center" ><button type="button" class="btn btn-outline-secondary btn-lg rounded-0" routerLink="settings">Show assignments</button></tr>
        <tr class="text-center">&nbsp;</tr>
        <tr class="text-center"><button type="button" class="btn btn-outline-secondary btn-lg rounded-0" routerLink="settings">Show reports</button></tr>
        <tr class="text-center">&nbsp;</tr>
        <tr class="text-center"><button type="button" class="btn btn-outline-secondary btn-lg rounded-0" routerLink="settings">Assign to job</button></tr>
        <tr class="text-center">&nbsp;</tr>
        <tr class="text-center"><button type="button" class="btn btn-outline-secondary btn-lg rounded-0" routerLink="settings">Remove from job</button></tr>
        <tr class="text-center">&nbsp;</tr>
        <tr class="text-center"><button type="button" class="btn btn-outline-secondary btn-lg rounded-0" routerLink="settings">Remove from all jobs</button></tr>
        <tr class="text-center">&nbsp;</tr>
        <tr class="text-center"><button type="button" class="btn btn-outline-secondary btn-lg rounded-0" routerLink="settings">Remove station</button></tr>
        <tr class="text-center">&nbsp;</tr>
        <tr class="text-center"><button type="button" class="btn btn-outline-secondary btn-lg rounded-0" routerLink="settings">Detonate Station</button></tr>
        <tr class="text-center">&nbsp;</tr>
    </tbody>

  </table>
</h2>
